body {
    background-image: url('/assets/img/city.gif') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke !important;
}




